<div class="contents" >
  <div class="main-contents">
      <% @blogs.each do |blog| %>
             <div class="article"> 
                <div class="article-text">
                    <%= simple_format(blog.text) %>
                    <span class="name"><%= blog.user_name %></span>
                </div>
                
                <div class="article-image" style="background-image: url(<%= blog.image %>);"></div>
                <div class="image">
                </div>
             </div>
      <% end %>
  </div>
</div>
<%= paginate(@blogs) %>