<div class="contents row">
  <div class="success">
    <h3>
      ブログの投稿が完了しました。
    </h3>
    <!--<a class="btn" href="/blogs">投稿一覧へ戻る</a>-->
    <li><%= link_to "マイページへ戻る", mypage_user_path(current_user) %></li>
  </div>
</div>