<!--<div class="contents row">-->
<!--  <%= form_tag('/blogs', method: :post) do %>-->
<!--    <h3>-->
<!--      ブログを投稿する-->
<!--    </h3>-->
<!--    <input type="text" name="title" placeholder="Title">-->
<!--    <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>-->
<!--    <input type="submit" value="SENT">-->
<!--  <% end %>-->
<!--</div>-->






  <div class="section-10">
    
    <div class="div-block-9">
      <%= form_tag('/blogs', method: :post) do %>
      <div class="div-block-11">
        
        <h2>ブログを投稿する</h2>
      </div>
      <div>
        <div class="form-block-2 w-form">
          
            <div class="div-block-13"><label for="name">Title</label><input type="text" class="w-input" maxlength="256" name="title" data-name="Name" id="name" placeholder="Title" style="background-color:white"></div>
            <div class="div-block-13"><label for="email">Sentence</label><textarea placeholder="Example Text" maxlength="5000" id="field" name="text" class="w-input" style="background-color:white"></textarea></div>
            <div class="div-block-12"><label>Image</label><textarea placeholder="Example Text" maxlength="5000" id="field-2" name="field-2" class="w-input" style="background-color:white"></textarea></div><label class="w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="w-form-label">Checkbox</span></label>
            <div class="div-block-10"><input type="submit" value="Submit"></div>
          
          
        </div>
        
      </div>
      <% end %>
    </div>
    
  </div>
  
  