<div class="mypage">
    <% @blogs.each do |blog| %>
    
      <%= simple_format(blog.text) %>
    
    <% end %>
     <% @journals.each do |journal| %>
    
      <%= simple_format(journal.text) %>
    
    <% end %>
</div>